/* .topbar {
    background-color: #C3A580;  
    width: 100%;
    color: white;
    padding: 10px 20px;
    font-size: 14px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.topbar a {
    color: white;
    text-decoration: underline;
    margin-left: 15px;
    font-weight: bold;
}

.topbar .right a span {
    margin-right: 5px;
}  */

body {
  font-family: Special Elite, sans-serif;
  margin: 0;
  padding: 0;
}

.tabs {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
} 

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
}

.navbar li {
  margin: 0;
}

.navbar a {
  display: block;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  position: relative;
}

.navbar a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 2px;
  background-color: white;
}

.navbar a.active {
  color: beige;
}

.navbar a.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 2px;
  background-color: beige;
}

/* .tabs li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eee;
  color: black;
  text-decoration: none; 
  border-radius: 5px;
} 

.tabs li a.active {
  background-color: #ccc;
  font-weight: bold;
}

.tabs li a:hover {
  background-color: #ddd;
} 

.tab-button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} 

.tab-button.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}  */